@page "/admin"
@using CRUDManagmentWeb.Components.Pages.Auth
@inject NavigationManager NavManager
@rendermode InteractiveServer

<ProtectedPage>
    <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
        <div class="text-center">
            <h1 class="mb-4">👋 Bienvenida a la App</h1>
            <p class="mb-4">Gestiona usuarios fácilmente desde aquí.</p>
            <button class="btn btn-primary btn-lg" @onclick="GoUsers">Usuarios</button>
            <button class="btn btn-primary btn-lg" @onclick="GoCompanies">Empresas</button>
            
        </div>
    </div>
</ProtectedPage>

@code {
    private void GoUsers()
    {
        NavManager.NavigateTo("/admin/users");
    }
    private void GoCompanies()
    {
        NavManager.NavigateTo("/admin/companies");
    }
    

    
}