@inject CRUDManagmentWeb.Services.AuthService AuthService
@inject NavigationManager NavigationManager

@if (!_isInitialized)
{
    <p>Cargando...</p>
}
else if (!_isAuthorized)
{
    <p>No tienes acceso a esta página. Redirigiendo...</p>
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool _isAuthorized = false;
    private bool _isInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
      
            var user = await AuthService.GetCurrentUserAsync();

            if (user is null)
            {
                NavigationManager.NavigateTo("/login");
                return;
            }

            _isAuthorized = true;
            _isInitialized = true;

            // Forzar renderizado después de la verificación
            StateHasChanged();
        }
    }
}

